@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap');

// @font-face {
//   font-family: 'Space Mono';

.containerinicio {
    background-image: url(/backgroundInicio.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .navbar {
        width: 70%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .configlink {
            width: 105px;
            height: 32px;
            display: flex;
            justify-content: center;

            .link {
                text-decoration: none;
                font-family: 'Darker Grotesque';
                color: #7C7C7C;
                font-size: 20px;
                font-weight: 600;
                transition: ease-in 0.2s;

            }

            .link:hover {
                color: #FFFFFF;
            }
        }

        .configlink:hover {
            border-bottom: 2px solid #1200FF;
        }

        .param {
            display: flex;
            flex-direction: row;
            column-gap: 12px;

            .configlink {
                width: 105px;
                height: 32px;

                .link {
                    text-decoration: none;
                }
            }
        }
    }

    .sobremim {
        width: 80vw;
        height: 88vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 35px;

        .textos {

            .textoGrande {
                font-family: 'Darker Grotesque';
                font-style: normal;
                font-weight: 800;
                font-size: 134.324px;
                color: #ffffff;
            }

            .textoSobreMim {
                width: 55%;
                font-family: 'Darker Grotesque';
                font-style: normal;
                font-weight: 500;
                font-size: 43.7489px;
                line-height: 111.5%;
                text-align: justify;
                color: #FFFFFF;

            }
        }

        .botao {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            width: 187px;
            height: 54px;
            border: 2px solid #FFFFFF;
            border-radius: 653.945px;
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 21.6635px;
            color: #FFFFFF;
            transition: all 0.3s;
        }

        .botao:hover {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ffffff;
            width: 187px;
            height: 54px;
            border: 2px solid #ffffff;
            border-radius: 653.945px;
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 21.6635px;
            color: #000000;
            transition: all 0.3s ease;

        }
    }
}