@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap");
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Space Mono", monospace;
  src: url("../fonts/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: "Space Mono", monospace;
  src: url("../fonts/SpaceMono-Bold.ttf");
}
.containerinicio {
  background-image: url(/backgroundInicio.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerinicio .navbar {
  width: 70%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.containerinicio .navbar .configlink {
  width: 105px;
  height: 32px;
  display: flex;
  justify-content: center;
}
.containerinicio .navbar .configlink .link {
  text-decoration: none;
  font-family: "Darker Grotesque";
  color: #7C7C7C;
  font-size: 20px;
  font-weight: 600;
  transition: ease-in 0.2s;
}
.containerinicio .navbar .configlink .link:hover {
  color: #FFFFFF;
}
.containerinicio .navbar .configlink:hover {
  border-bottom: 2px solid #1200FF;
}
.containerinicio .navbar .param {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.containerinicio .navbar .param .configlink {
  width: 105px;
  height: 32px;
}
.containerinicio .navbar .param .configlink .link {
  text-decoration: none;
}
.containerinicio .sobremim {
  width: 80vw;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 35px;
}
.containerinicio .sobremim .textos .textoGrande {
  font-family: "Darker Grotesque";
  font-style: normal;
  font-weight: 800;
  font-size: 134.324px;
  color: #ffffff;
}
.containerinicio .sobremim .textos .textoSobreMim {
  width: 55%;
  font-family: "Darker Grotesque";
  font-style: normal;
  font-weight: 500;
  font-size: 43.7489px;
  line-height: 111.5%;
  text-align: justify;
  color: #FFFFFF;
}
.containerinicio .sobremim .botao {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  width: 187px;
  height: 54px;
  border: 2px solid #FFFFFF;
  border-radius: 653.945px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 21.6635px;
  color: #FFFFFF;
  transition: all 0.3s;
}
.containerinicio .sobremim .botao:hover {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  width: 187px;
  height: 54px;
  border: 2px solid #ffffff;
  border-radius: 653.945px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 21.6635px;
  color: #000000;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1600px) {
  .containerinicio .sobremim .textos .textoGrande {
    font-size: 110;
  }
  .containerinicio .sobremim .textos .textoSobreMim {
    font-size: 38px;
  }
}
@media screen and (max-width: 1350px) {
  .containerinicio .sobremim .textos .textoGrande {
    font-size: 86px;
  }
  .containerinicio .sobremim .textos .textoSobreMim {
    width: 50%;
    font-size: 28px;
  }
}
@media screen and (max-width: 950px) {
  .containerinicio .navbar {
    width: 80%;
    height: 80px;
  }
  .containerinicio .navbar .configlink .link {
    font-size: 18px;
  }
  .containerinicio .navbar .configlink:hover {
    border-bottom: 2px solid #1200FF;
  }
  .containerinicio .sobremim .textos .textoGrande {
    font-size: 86px;
  }
  .containerinicio .sobremim .textos .textoSobreMim {
    width: 60%;
    font-size: 24px;
  }
  .containerinicio .sobremim .botao {
    width: 160px;
    height: 46px;
    font-size: 16px;
  }
}
@media screen and (max-width: 555px) {
  .containerinicio .navbar {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 200px;
    justify-content: center;
  }
  .containerinicio .navbar ali .configlink {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .containerinicio .navbar ali .configlink .link {
    font-size: 14px;
  }
  .containerinicio .navbar .configlink:hover {
    border-bottom: 2px solid #1200FF;
  }
  .containerinicio .navbar .param {
    display: flex;
    flex-direction: column;
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
  .containerinicio .sobremim {
    row-gap: 15px;
  }
  .containerinicio .sobremim .textos .textoGrande {
    font-size: 74px;
  }
  .containerinicio .sobremim .textos .textoSobreMim {
    width: 100%;
    font-size: 24px;
  }
  .containerinicio .sobremim .botao {
    width: 160px;
    height: 46px;
    font-size: 16px;
  }
}
@media screen and (max-width: 375px) {
  .containerinicio .navbar {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 200px;
    justify-content: center;
  }
  .containerinicio .navbar ali .configlink {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .containerinicio .navbar ali .configlink .link {
    font-size: 14px;
  }
  .containerinicio .navbar .configlink:hover {
    border-bottom: 2px solid #1200FF;
  }
  .containerinicio .navbar .param {
    display: flex;
    flex-direction: column;
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
  .containerinicio .sobremim {
    row-gap: 15px;
  }
  .containerinicio .sobremim .textos .textoGrande {
    font-size: 74px;
  }
  .containerinicio .sobremim .textos .textoSobreMim {
    width: 100%;
    font-size: 24px;
  }
  .containerinicio .sobremim .botao {
    width: 160px;
    height: 46px;
    font-size: 16px;
  }
}/*# sourceMappingURL=inicio.module.css.map */