@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap");
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Space Mono", monospace;
  src: url("../fonts/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: "Space Mono", monospace;
  src: url("../fonts/SpaceMono-Bold.ttf");
}
.containerskills {
  background: #1200FF;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.containerskills .containertodasskills {
  width: 90vw;
  height: 88vh;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  margin-top: 60px;
}
.containerskills .containertodasskills .skills {
  width: 100%;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 34.5726px;
  color: #FFFFFF;
}
.containerskills .containertodasskills .minhasskills {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.containerskills .containertodasskills .minhasskills .estilolink {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48.8526px;
  line-height: 123.1%;
  color: #FFFFFF;
  margin: 0px;
}
.containerskills .containertodasskills .minhasskills .estilolink:hover {
  color: #c5c5c5;
}
.containerskills .containertodasskills .decoracao {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: "Darker Grotesque";
  font-style: bold;
  font-weight: 800;
  font-size: 36px;
  color: #FFFFFF;
}
.containerskills .containertodasskills .decoracao .alterafone {
  font-family: "Space Mono";
}
.containerskills .imagem {
  width: 100vw;
}

@media screen and (max-width: 1600px) {
  .containerskills .containertodasskills {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .containerskills .containertodasskills .skills {
    font-size: 28px;
  }
  .containerskills .containertodasskills .minhasskills .estilolink {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    color: #FFFFFF;
  }
  .containerskills .containertodasskills .decoracao {
    font-size: 28px;
  }
}
@media screen and (max-width: 1440px) {
  .containerskills .containertodasskills {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .containerskills .containertodasskills .skills {
    font-size: 28px;
  }
  .containerskills .containertodasskills .minhasskills .estilolink {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    color: #FFFFFF;
  }
  .containerskills .containertodasskills .decoracao {
    font-size: 28px;
  }
}
@media screen and (max-width: 1350px) {
  .containerskills .containertodasskills {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .containerskills .containertodasskills .skills {
    font-size: 28px;
  }
  .containerskills .containertodasskills .minhasskills .estilolink {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    color: #FFFFFF;
  }
  .containerskills .containertodasskills .decoracao {
    font-size: 28px;
  }
}
@media screen and (max-width: 1100px) {
  .containerskills .containertodasskills {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .containerskills .containertodasskills .skills {
    font-size: 28px;
  }
  .containerskills .containertodasskills .minhasskills .estilolink {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    color: #FFFFFF;
  }
  .containerskills .containertodasskills .decoracao {
    font-size: 28px;
  }
}
@media screen and (max-width: 950px) {
  .containerskills .containertodasskills {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .containerskills .containertodasskills .skills {
    font-size: 24px;
  }
  .containerskills .containertodasskills .minhasskills .estilolink {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
  }
  .containerskills .containertodasskills .decoracao {
    font-size: 24px;
  }
}
@media screen and (max-width: 555px) {
  .containerskills .containertodasskills {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .containerskills .containertodasskills .skills {
    font-size: 24px;
  }
  .containerskills .containertodasskills .minhasskills .estilolink {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
  }
  .containerskills .containertodasskills .decoracao {
    font-size: 24px;
  }
}
@media screen and (max-width: 375px) {
  .containerskills .containertodasskills {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .containerskills .containertodasskills .skills {
    font-size: 24px;
  }
  .containerskills .containertodasskills .minhasskills {
    margin-left: 40px;
  }
  .containerskills .containertodasskills .minhasskills .estilolink {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #FFFFFF;
  }
  .containerskills .containertodasskills .decoracao {
    font-size: 24px;
  }
}/*# sourceMappingURL=skills.module.css.map */